html {background-color: #DDE5B6;
    }

body {font-family: timesnewroman;
      color: black;
      font-size: 15px;
      }

h3 {font-family: cursive;
    color: #96A76A; 
    font-size: 20px; 
    font-weight: bold;
    }

h2 {font-family: cursive;
    color: #96A76A; 
    font-size: 25px; 
    font-weight: bold;
    }

h1 {font-family: cursive;
    color: #96A76A; 
    font-size: 35px;
    font-weight: bold;
}


ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #96A76A;
}

li a {
  background-color: #96A76A;
  font-family: cursive;
  float: left;
  display: block;
  color: black;
  font-size: 20px;
  text-align: center;
  padding: 14px 16px;
  text-decoration: underline;
}

li a:hover {
  background-color: #F0EAD2;
}


ul { 
    display: flex;
    align-items: center;
    padding: 14px;
    display: block;
    color: black;
    font-family: timesnewroman; 
    font-size: 15px
}

p{
    display: flex;
    align-items: center;
    padding: 14px;
    display: block;
    color: black;
    font-family: timesnewroman;
    font-size: 15px;
}

methodologies {
    
}

img{
    position:absolute;
    top:375px;
    right:40px;
}

forest.jpg{
    position:absolute;
    top:500px;
    right:40px;
    opacity:0.5
}
meth.image{
    position:absolute;
    bottom:700px;
    right:50px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
/* color pallate, make adjustments as needed so it presents better: https://coolors.co/6c584c-a98467-96a76a-adc178-dde5b6-f0ead2*/



