html {background-color: #DDE5B6;
    }

body {font-family: timesnewroman;
      color: black;
      font-size: 15px;
      }

h3 {font-family: cursive;
    color: #A98467;
    font-size: 25px; 
    font-weight: bold;
    }

h2 {font-family: cursive;
    color: #A98467; 
    font-size: 30px; 
    font-weight: bold;
    }

h1 {font-family: cursive;
    color: #96A76A; 
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    background-image: url("forest.jpg");
    opacity: 0.7;
}

h4 {font-family: cursive;
    color: #6c584c;
    font-size: 30px; 
    font-weight: bold;
}

ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #96A76A;
}


li a {
  background-color: #96A76A;
  font-family: cursive;
  font-color: black;
  float: left;
  color: #6c584c;
  font-size: 20px;
  text-align: center;
  padding-top: 15px;
  padding-right: 60px;
  padding-bottom: 15px;
  padding-left: 60px;
  text-decoration: underline;
}



li a:hover {
  background-color: #F0EAD2;
   display: inline-block;
}



ul { 
    display: flex;
    align-items: center;
    padding-left: 50px;
    display: block;
    color: black;
    font-family: timesnewroman; 
    font-size: 15px;
}

ul-1 {
    display: block;
    align-items: center;
    padding-left: 80px;
    color: black;
    font-family: timesnewroman; 
    font-size: 15px;
    }

p{
    display: block;
    padding-top: 15px;
    padding-right: 50px;
    padding-left: 50px;
    padding-bottom: 15px;
    color: black;
    font-family: timesnewroman;
    font-size: 17px;
    position: inherit;
    text-align: left;
        
}

.container {
            display: flex;
            flex-direction: row;
        }
        
.image-column {
            flex: 1;
        }

.text-column {
            flex: 1;
            padding: 20px;
        }

img {
            max-width: 100%;
            height: auto;
        }
 


main {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-gap: 2rem;
    background-color: #DDC9B4;
    margin: 10px;
    padding: 10px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

text {
    font-family: cursive;
}


/* color pallate: https://coolors.co/6c584c-a98467-96a76a-adc178-dde5b6-f0ead2*/



