html {background-color: #DDE5B6;
    }

body {font-family: timesnewroman;
      color: black;
      font-size: 15px;
      }

h3 {font-family: cursive;
    color: #A98467;
    font-size: 25px; 
    font-weight: bold;
    }

h2 {font-family: cursive;
    color: #A98467; 
    font-size: 30px; 
    font-weight: bold;
    }

h1 {font-family: cursive;
    color: #96A76A; 
    font-size: 40px;
    font-weight: bold;
    text-align: center;
}

h4 {font-family: cursive;
    color: black;
    font-size: 20px; 
    font-weight: bold;
    
}

ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #96A76A;
}

li a {
  background-color: #96A76A;
  font-family: cursive;
  float: left;
  display: block;
  color: black;
  font-size: 20px;
  text-align: center;
  padding-top: 15px;
  padding-right: 60px;
  padding-bottom: 15px;
  padding-left: 60px;
  text-decoration: underline;
}

li a:hover {
  background-color: #F0EAD2;
}


ul { 
    display: flex;
    align-items: center;
    padding-left: 50px;
    display: block;
    color: black;
    font-family: timesnewroman; 
    font-size: 15px
}

ul-1 {
    display: block;
    align-items: center;
    padding-left: 80px;
    color: black;
    font-family: timesnewroman; 
    font-size: 15px;
    }

p{
    display: block;
    padding-top: 0px;
    padding-right: 50px;
    padding-left: 50px;
    padding-bottom: 15px;
    color: black;
    font-family: timesnewroman;
    font-size: 17px;
    position: relative;
}

/*  #beauty-image {
    align-items: right;
    padding-left: 800px;
    position: relative;
    display: inline;
    width: 500px; 
    height: 200px;
    float: right; } */


p1 {
    display: block;
    align-items: center;
    padding-left: 50px;
    padding-right: 600px;
    font-size: 17px;
}

/*   .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
} */

.container {
            display: flex;
            flex-direction: row;
        }
        
        .image-column {
            flex: 1;
        }
        
        .text-column {
            flex: 1;
            padding: 20px;
        }
        
        img {
            max-width: 100%;
            height: auto;
        }
  
/* color pallate, make adjustments as needed so it presents better: https://coolors.co/6c584c-a98467-96a76a-adc178-dde5b6-f0ead2*/



