section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
    background-color: #DDC9B4;
    margin: 10px;
    padding: 10px;
}
main {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-gap: 2rem;
    background-color: #DDC9B4;
    margin: 10px;
    padding: 10px;
}