body {background-color: #DDE5B6}

body {font-family: timesnewroman;
      color: black;
      font-size: 15px
      }

h2 {font-family: cursive;
    color: #96A76A; 
    font-size: 20px; 
    font-weight: bold
    }

h1 {font-family: cursive;
    color: #96A76A; 
    font-size: 25px;
    font-weight: bold
    }



/*Are you guys good with this as the colors and fonts for the general info pages?
 * I was thinking then we can use different colors and fonts for each individual piece of lit's page */



