/* Elements */


.char.on {font-weight: bold; text-decoration-line: underline; text-decoration-color: Orange;}

.auto.on {font-weight: bold; text-decoration-line: underline; text-decoration-color: Blue;}

.quote.on {font-weight: bold; text-decoration-line: underline; text-decoration-color: Coral;}

.vill.on {font-weight: bold; text-decoration-line: underline; text-decoration-color: Green;}

.rep.on {font-weight: bold; text-decoration-line: underline; text-decoration-color: Purple;}

.adj.on {font-weight: bold; text-decoration-line: underline; text-decoration-color: Gold;}


/* Characteristic (char_type=orange!) */

.physical.on {color: Orange;}

.nonphysical.on {color: OrangeRed;}


/* Characteristic (depiction=pink!) */
.naivity.on {color: Violet;}

.innocent.on {color: MistyRose;}

.maternal.on {color: Salmon;}

.emotional.on {color: LightPink;}

.clever.on {color: Pink;}

.secluded.on {color: MediumVioletRed;}

.protective.on {color: Magenta;}

.brave.on {color: DeepPink;}

.domesticity.on {color: Fuchsia;}

.beauty.on {color: HotPink;}


/* APPLICABLE TO MANY (color=red!) */
.young.on {color: Crimson;}

.old.on {color: FireBrick;}


/* Autonomy (auto_type=tan!)*/

.controlled.on {color: PeachPuff;}

.free.on {color: RosyBrown;}


/* Autonomy (level=blue!) */
.male_savior.on {color: DarkCyan;}

.damsel.on {color: DeepSkyBlue;}

.evil.on {color: DodgerBlue;}

.religious.on {color: Aqua;}

.heroin.on {color: CornFlowerBlue;}

.societal_expectations.on {color: RoyalBlue;}


/* APPLICABLE TO ALL (gender=pale blue and green!) */
.female.on {color: PaleTurquoise;}

.male.on {color: PaleGreen;}


/* Villainization (cause=green!)*/

.competition.on {color: DarkOliveGreen;}

.jealousy.on {color: ForestGreen;}

.revenge.on {color: LightGreen;}

.unspecified.on {color: OliveDrab;}

.sex.on {color: PaleGreen;}

.manipulation.on {color: SeaGreen;}

.power.on {color: SpringGreen;}


/* Reproduction (rep_type=purple!)*/

.menstruation.on {color: Orchid;}

.childbirth.on {color: Purple;}

.sex.on {color: Plum;}

/* Checkbox */

.sticky {
    position: fixed;
    display: block;
    background-color: #FCFBF4;
    top: 10%;
    right: 5%;
    margin-right: 1px;
    overflow: auto;
    font-family: arial, helvetica, sans-serif;
    padding: 20px;
    }

.removespace {
    margin: 0;
    padding: 0;
}

/* "gender" repeats for all categories and is only listed once!!! */

/* Styling for Side by Side view */

section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
    background-color: #FFFDD0;
    margin: 10px;
    padding: 10px;
}
main {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-gap: 2rem;
    background-color: #FFFDD0;
    margin: 10px;
    padding: 10px;
}