/* Elements */


.char.on {font-weight: bold; text-decoration-line: underline; text-decoration-color: Orange;}

.auto.on {font-weight: bold; text-decoration-line: underline; text-decoration-color: Blue;}

.quote.on {font-weight: bold; text-decoration-line: underline; text-decoration-color: Coral;}

.vill.on {font-weight: bold; text-decoration-line: underline; text-decoration-color: Green;}

.rep.on {font-weight: bold; text-decoration-line: underline; text-decoration-color: Purple;}

.adj.on {font-weight: bold; text-decoration-line: underline; text-decoration-color: Gold;}


/* Characteristic (char_type=orange!) */

.physical.on {color: Orange;}

.nonphysical.on {color: OrangeRed;}


/* Characteristic (depiction=pink!) */
.depiction_naivity.on {color: Violet;}

.depiction_innocent.on {color: MistyRose;}

.depiction_maternal.on {color: Salmon;}

.depiction_emotional.on {color: LightPink;}

.depiction_clever.on {color: Pink;}

.depiction_secluded.on {color: MediumVioletRed;}

.depiction_protective.on {color: Magenta;}

.depiction_brave.on {color: DeepPink;}

.depiction_domesticity.on {color: Fuchsia;}

.depiction_beauty.on {color: HotPink;}


/* APPLICABLE TO MANY (color=red!) */
.age_young.on {color: Crimson;}

.age_old.on {color: FireBrick;}


/* Autonomy (auto_type=tan!)*/

.autotype_controlled.on {color: PeachPuff;}

.autotype_free.on {color: RosyBrown;}


/* Autonomy (level=blue!) */
.level_male_savior.on {color: DarkCyan;}

.level_damsel.on {color: DeepSkyBlue;}

.level_evil.on {color: DodgerBlue;}

.level_religious.on {color: Aqua;}

.level_heroin.on {color: CornFlowerBlue;}

.level_societal_expectations.on {color: RoyalBlue;}


/* APPLICABLE TO ALL (gender=pale blue and green!) */
.female.on {color: PaleTurquoise;}

.male.on {color: PaleGreen;}


/* Villainization (cause=green!)*/

.cause_competition.on {color: DarkOliveGreen;}

.cause_jealousy.on {color: ForestGreen;}

.cause_revenge.on {color: LightGreen;}

.cause_unspecified.on {color: OliveDrab;}

.cause_sex.on {color: PaleGreen;}

.cause_manipulation.on {color: SeaGreen;}

.cause_power.on {color: SpringGreen;}


/* Reproduction (rep_type=purple!)*/

.reptype_menstruation.on {color: Orchid;}

.reptype_childbirth.on {color: Purple;}

.reptype_sex.on {color: Plum;}

/* Checkbox */

.sticky {
    position: fixed;
    display: block;
    background-color: #FCFBF4;
    top: 20%;
    right: 5%;
    margin-right: 1px;
    overflow: auto;
    font-family: arial, helvetica, sans-serif;
    padding: 20px;
    }

.removespace {
    margin: 0;
    padding: 0;
}

/* "gender" repeats for all categories and is only listed once!!! */

/* Styling for Side by Side view */

section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
    background-color: #FFFDD0;
    margin: 10px;
    padding: 10px;
}
main {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-gap: 2rem;
    background-color: #FFFDD0;
    margin: 10px;
    padding: 10px;
}